<%- include("../partials/admin-header")%>
<section>
    <div class="container">
        <div class="row mt-5">
            <a href="admin/add-product" class="btn btn-success btn-lg ml-auto">Add Product</a>
        </div>
        <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Sl No.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col"> Image</th>
    </tr>
  </thead>
  <tbody>
  <% let slNo=1 %>
  <%  products.forEach(function(product){ %>

    <tr>
      <th scope="row"><%=slNo%></th>
      <td><%=product.name%></td>
      <td><%=product.price%></td>
      <td><%=product.category%></td>
      <td><%=product.description%></td>
      <td><img style="width: 4rem; height:6rem;" src="/images/<%=product._id%>.jpeg" alt=""></td>
      <td>
        <a href="/admin/edit-product/<%=product._id%>" class="btn btn-primary" >Edit</a>
        <a href="/admin/delete-product/<%=product._id%>" class="btn btn-danger" onclick="return confirm('Do You Want To Delete <%=product.name%>?')">Delete</a>
      </td>
    </tr>
  <% slNo+=1 %>
  <%  }) %>
  </tbody>
</table>
    </div>
</section>
<%- include("../partials/footer")%>
